In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('final2.csv')

In [8]:
df=df[:303]

In [9]:
df

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
0,1.0,NLP,PE,lecture,all,all,NaN,RK,6.0,601,monday,9:00,11:00,TE,NaN
1,2.0,BAP,PE,lab,all,all,F,SC,4.0,410B,monday,9:00,11:00,TE,NaN
2,3.0,EH,PE,lab,all,all,B,RP,4.0,406A,monday,9:00,11:00,TE,NaN
3,4.0,BCT,PE,lab,all,all,C-PE,DDA,4.0,404,monday,9:00,11:00,TE,NaN
4,5.0,DC,PC,lecture,CSE,DS,all,SBG,4.0,407,monday,11:15,12:15,TE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299.0,LA,BSC,lab,CSE,AIML,A,RM,4.0,404,friday,9:00,11:00,SE,NaN
299,300.0,CCN,PC,lab,CSE,AIML,C,AVN,4.0,410B,friday,9:00,11:00,SE,NaN
300,301.0,OS,PC,lecture,CSE,AIML,NaN,AT,4.0,405,friday,11:15,12:15,SE,NaN
301,302.0,OS,PC,lecture,CSE,AIML,NaN,AT,4.0,405,friday,12:15,13:15,SE,NaN
302,303.0,FOM-II,BSC(LE),lecture,all,all,NaN,RRS,3.0,309,friday,14:00,15:00,SE,NaN

In [14]:
df.isnull().sum()

serial_num          0
subject_code        0
course_type         0
lab_or_lecture      0
department          0
branch              0
batch               0
faculty_code        0
floor              79
room_num           13
day                 0
start_time          0
end_time            0
year                0
duration          303
dtype: int64

In [12]:
df['batch'].fillna('N',inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\4025855478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['batch'].fillna('N',inplace=True)

In [26]:
df['room_num'].fillna('801',inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\3950638700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['room_num'].fillna('801',inplace=True)

In [13]:
df

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
0,1.0,NLP,PE,lecture,all,all,N,RK,6.0,601,monday,9:00,11:00,TE,NaN
1,2.0,BAP,PE,lab,all,all,F,SC,4.0,410B,monday,9:00,11:00,TE,NaN
2,3.0,EH,PE,lab,all,all,B,RP,4.0,406A,monday,9:00,11:00,TE,NaN
3,4.0,BCT,PE,lab,all,all,C-PE,DDA,4.0,404,monday,9:00,11:00,TE,NaN
4,5.0,DC,PC,lecture,CSE,DS,all,SBG,4.0,407,monday,11:15,12:15,TE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299.0,LA,BSC,lab,CSE,AIML,A,RM,4.0,404,friday,9:00,11:00,SE,NaN
299,300.0,CCN,PC,lab,CSE,AIML,C,AVN,4.0,410B,friday,9:00,11:00,SE,NaN
300,301.0,OS,PC,lecture,CSE,AIML,N,AT,4.0,405,friday,11:15,12:15,SE,NaN
301,302.0,OS,PC,lecture,CSE,AIML,N,AT,4.0,405,friday,12:15,13:15,SE,NaN
302,303.0,FOM-II,BSC(LE),lecture,all,all,N,RRS,3.0,309,friday,14:00,15:00,SE,NaN

In [24]:
df['room_num'][0]

'601'

In [25]:
df['floor'][0]

'6'

In [27]:
for i in range(len(df)):
    df['floor'][i] = df['room_num'][i][0]

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\1577512448.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['floor'][i] = df['room_num'][i][0]

In [28]:
df['floor']

0      6
1      4
2      4
3      4
4      4
      ..
298    4
299    4
300    4
301    4
302    3
Name: floor, Length: 303, dtype: object

In [29]:
df

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
0,1.0,NLP,PE,lecture,all,all,N,RK,6,601,monday,9:00,11:00,TE,NaN
1,2.0,BAP,PE,lab,all,all,F,SC,4,410B,monday,9:00,11:00,TE,NaN
2,3.0,EH,PE,lab,all,all,B,RP,4,406A,monday,9:00,11:00,TE,NaN
3,4.0,BCT,PE,lab,all,all,C-PE,DDA,4,404,monday,9:00,11:00,TE,NaN
4,5.0,DC,PC,lecture,CSE,DS,all,SBG,4,407,monday,11:15,12:15,TE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299.0,LA,BSC,lab,CSE,AIML,A,RM,4,404,friday,9:00,11:00,SE,NaN
299,300.0,CCN,PC,lab,CSE,AIML,C,AVN,4,410B,friday,9:00,11:00,SE,NaN
300,301.0,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,11:15,12:15,SE,NaN
301,302.0,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,12:15,13:15,SE,NaN
302,303.0,FOM-II,BSC(LE),lecture,all,all,N,RRS,3,309,friday,14:00,15:00,SE,NaN

In [32]:
df.replace({'1:15': '13:15'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2478528004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'1:15': '13:15'}, inplace=True)

In [33]:
df.replace({'2:00': '14:00'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\1748187628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'2:00': '14:00'}, inplace=True)

In [34]:
df.replace({'3:00': '15:00'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2249102970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'3:00': '15:00'}, inplace=True)

In [35]:
df.replace({'4:00': '16:00'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\3212556397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'4:00': '16:00'}, inplace=True)

In [36]:
df.replace({'5:00': '17:00'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2313127452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'5:00': '17:00'}, inplace=True)

In [37]:
df.replace({'6:00': '18:00'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2317852661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'6:00': '18:00'}, inplace=True)

In [38]:
df.replace({'7:00': '19:00'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2330054255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'7:00': '19:00'}, inplace=True)

In [39]:
df

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
0,1.0,NLP,PE,lecture,all,all,N,RK,6,601,monday,9:00,11:00,TE,NaN
1,2.0,BAP,PE,lab,all,all,F,SC,4,410B,monday,9:00,11:00,TE,NaN
2,3.0,EH,PE,lab,all,all,B,RP,4,406A,monday,9:00,11:00,TE,NaN
3,4.0,BCT,PE,lab,all,all,C-PE,DDA,4,404,monday,9:00,11:00,TE,NaN
4,5.0,DC,PC,lecture,CSE,DS,all,SBG,4,407,monday,11:15,12:15,TE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299.0,LA,BSC,lab,CSE,AIML,A,RM,4,404,friday,9:00,11:00,SE,NaN
299,300.0,CCN,PC,lab,CSE,AIML,C,AVN,4,410B,friday,9:00,11:00,SE,NaN
300,301.0,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,11:15,12:15,SE,NaN
301,302.0,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,12:15,13:15,SE,NaN
302,303.0,FOM-II,BSC(LE),lecture,all,all,N,RRS,3,309,friday,14:00,15:00,SE,NaN

In [40]:
df.isnull().sum()

serial_num          0
subject_code        0
course_type         0
lab_or_lecture      0
department          0
branch              0
batch               0
faculty_code        0
floor               0
room_num            0
day                 0
start_time          0
end_time            0
year                0
duration          303
dtype: int64

In [48]:
df['start_time'] = pd.to_datetime(df['start_time'], format='%H:%M').dt.time
df['end_time'] = pd.to_datetime(df['end_time'], format='%H:%M').dt.time

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2981535616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_time'] = pd.to_datetime(df['start_time'], format='%H:%M').dt.time
C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2981535616.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end_time'] = pd.to_datetime(df['end_time'], format='%H:%M').dt.time

In [49]:
df['start_time']

0      09:00:00
1      09:00:00
2      09:00:00
3      09:00:00
4      11:15:00
         ...
298    09:00:00
299    09:00:00
300    11:15:00
301    12:15:00
302    14:00:00
Name: start_time, Length: 303, dtype: object

In [50]:
df['duration']=(df['end_time']-df['start_time']).dt.components.hours

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'

In [51]:
df

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
0,1.0,NLP,PE,lecture,all,all,N,RK,6,601,monday,09:00:00,11:00:00,TE,2
1,2.0,BAP,PE,lab,all,all,F,SC,4,410B,monday,09:00:00,11:00:00,TE,2
2,3.0,EH,PE,lab,all,all,B,RP,4,406A,monday,09:00:00,11:00:00,TE,2
3,4.0,BCT,PE,lab,all,all,C-PE,DDA,4,404,monday,09:00:00,11:00:00,TE,2
4,5.0,DC,PC,lecture,CSE,DS,all,SBG,4,407,monday,11:15:00,12:15:00,TE,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299.0,LA,BSC,lab,CSE,AIML,A,RM,4,404,friday,09:00:00,11:00:00,SE,2
299,300.0,CCN,PC,lab,CSE,AIML,C,AVN,4,410B,friday,09:00:00,11:00:00,SE,2
300,301.0,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,11:15:00,12:15:00,SE,1
301,302.0,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,12:15:00,13:15:00,SE,1
302,303.0,FOM-II,BSC(LE),lecture,all,all,N,RRS,3,309,friday,14:00:00,15:00:00,SE,1

In [52]:
df.to_csv('bap_ise_data.csv', index=False)

In [2]:
import pandas as pd

In [5]:
df=pd.read_csv('bap_ise_data.csv')

In [66]:
df['room_num'].unique()

array(['601', '410B', '406A', '404', '407', '606B', '408', '406B', '308',
       '606A', '608', '410A', '203', '702', '008', '604', '405', '503',
       '603B', '411', '409', '605', '509', 'online', '506B', '702B',
       '603C', '603', '606', '603A', '702A', '609', '801', '607B', '703',
       '606-5', '606-4', '603-3', '603-2', '309', '410C', '412'],
      dtype=object)

In [8]:
arr=[
  "609",
  "411",
  "606-4",
  "406A",
  "404",
  "604",
  "702B",
  "408",
  "601",
  "605",
  "603C",
  "online",
  "410B",
  "506B",
  "407",
  "702A",
  "412",
  "606",
  "203",
  "608",
  "606A",
  "603-3",
  "309",
  "008",
  "409",
  "503",
  "405",
  "603A",
  "801",
  "603-2",
  "606B",
  "607B",
  "702",
  "606-5",
  "603",
  "410C",
  "603B",
  "410A",
  "406B",
  "509",
  "308",
  "703"
]

In [9]:
len(arr)

42

In [27]:
start='9:00'
end='10:00'

In [22]:
start_time = pd.to_datetime(start, format='%H:%M').time()
strstart_time

datetime.time(9, 0)

In [15]:
df['start_time'] = pd.to_datetime(df['start_time'], format='%H:%M').dt.time

ValueError: unconverted data remains: :00

In [28]:
day='monday'

In [59]:
    start_time = pd.to_datetime(start, format='%H:%M').strftime('%H:%M:%S')
    end_time = pd.to_datetime(end, format='%H:%M').strftime('%H:%M:%S')

    filtered_df = df[(df['day'] == day) & ((df['start_time'] == start_time) | (df['end_time'] == end_time))]

In [60]:
df['day']

0      monday
1      monday
2      monday
3      monday
4      monday
        ...
298    friday
299    friday
300    friday
301    friday
302    friday
Name: day, Length: 303, dtype: object

In [61]:
len(filtered_df)

13

In [62]:
start_time

'09:00:00'

In [63]:
pd.to_datetime(start, format='%H:%M').strftime('%H:%M:%S')

'09:00:00'