In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('final2.csv')

In [8]:
df=df[:303]

In [9]:
df

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
0,1.0,NLP,PE,lecture,all,all,NaN,RK,6.0,601,monday,9:00,11:00,TE,NaN
1,2.0,BAP,PE,lab,all,all,F,SC,4.0,410B,monday,9:00,11:00,TE,NaN
2,3.0,EH,PE,lab,all,all,B,RP,4.0,406A,monday,9:00,11:00,TE,NaN
3,4.0,BCT,PE,lab,all,all,C-PE,DDA,4.0,404,monday,9:00,11:00,TE,NaN
4,5.0,DC,PC,lecture,CSE,DS,all,SBG,4.0,407,monday,11:15,12:15,TE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299.0,LA,BSC,lab,CSE,AIML,A,RM,4.0,404,friday,9:00,11:00,SE,NaN
299,300.0,CCN,PC,lab,CSE,AIML,C,AVN,4.0,410B,friday,9:00,11:00,SE,NaN
300,301.0,OS,PC,lecture,CSE,AIML,NaN,AT,4.0,405,friday,11:15,12:15,SE,NaN
301,302.0,OS,PC,lecture,CSE,AIML,NaN,AT,4.0,405,friday,12:15,13:15,SE,NaN
302,303.0,FOM-II,BSC(LE),lecture,all,all,NaN,RRS,3.0,309,friday,14:00,15:00,SE,NaN

In [14]:
df.isnull().sum()

serial_num          0
subject_code        0
course_type         0
lab_or_lecture      0
department          0
branch              0
batch               0
faculty_code        0
floor              79
room_num           13
day                 0
start_time          0
end_time            0
year                0
duration          303
dtype: int64

In [12]:
df['batch'].fillna('N',inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\4025855478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['batch'].fillna('N',inplace=True)

In [26]:
df['room_num'].fillna('801',inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\3950638700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['room_num'].fillna('801',inplace=True)

In [13]:
df

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
0,1.0,NLP,PE,lecture,all,all,N,RK,6.0,601,monday,9:00,11:00,TE,NaN
1,2.0,BAP,PE,lab,all,all,F,SC,4.0,410B,monday,9:00,11:00,TE,NaN
2,3.0,EH,PE,lab,all,all,B,RP,4.0,406A,monday,9:00,11:00,TE,NaN
3,4.0,BCT,PE,lab,all,all,C-PE,DDA,4.0,404,monday,9:00,11:00,TE,NaN
4,5.0,DC,PC,lecture,CSE,DS,all,SBG,4.0,407,monday,11:15,12:15,TE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299.0,LA,BSC,lab,CSE,AIML,A,RM,4.0,404,friday,9:00,11:00,SE,NaN
299,300.0,CCN,PC,lab,CSE,AIML,C,AVN,4.0,410B,friday,9:00,11:00,SE,NaN
300,301.0,OS,PC,lecture,CSE,AIML,N,AT,4.0,405,friday,11:15,12:15,SE,NaN
301,302.0,OS,PC,lecture,CSE,AIML,N,AT,4.0,405,friday,12:15,13:15,SE,NaN
302,303.0,FOM-II,BSC(LE),lecture,all,all,N,RRS,3.0,309,friday,14:00,15:00,SE,NaN

In [24]:
df['room_num'][0]

'601'

In [25]:
df['floor'][0]

'6'

In [27]:
for i in range(len(df)):
    df['floor'][i] = df['room_num'][i][0]

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\1577512448.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['floor'][i] = df['room_num'][i][0]

In [28]:
df['floor']

0      6
1      4
2      4
3      4
4      4
      ..
298    4
299    4
300    4
301    4
302    3
Name: floor, Length: 303, dtype: object

In [29]:
df

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
0,1.0,NLP,PE,lecture,all,all,N,RK,6,601,monday,9:00,11:00,TE,NaN
1,2.0,BAP,PE,lab,all,all,F,SC,4,410B,monday,9:00,11:00,TE,NaN
2,3.0,EH,PE,lab,all,all,B,RP,4,406A,monday,9:00,11:00,TE,NaN
3,4.0,BCT,PE,lab,all,all,C-PE,DDA,4,404,monday,9:00,11:00,TE,NaN
4,5.0,DC,PC,lecture,CSE,DS,all,SBG,4,407,monday,11:15,12:15,TE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299.0,LA,BSC,lab,CSE,AIML,A,RM,4,404,friday,9:00,11:00,SE,NaN
299,300.0,CCN,PC,lab,CSE,AIML,C,AVN,4,410B,friday,9:00,11:00,SE,NaN
300,301.0,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,11:15,12:15,SE,NaN
301,302.0,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,12:15,13:15,SE,NaN
302,303.0,FOM-II,BSC(LE),lecture,all,all,N,RRS,3,309,friday,14:00,15:00,SE,NaN

In [32]:
df.replace({'1:15': '13:15'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2478528004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'1:15': '13:15'}, inplace=True)

In [33]:
df.replace({'2:00': '14:00'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\1748187628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'2:00': '14:00'}, inplace=True)

In [34]:
df.replace({'3:00': '15:00'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2249102970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'3:00': '15:00'}, inplace=True)

In [35]:
df.replace({'4:00': '16:00'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\3212556397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'4:00': '16:00'}, inplace=True)

In [36]:
df.replace({'5:00': '17:00'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2313127452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'5:00': '17:00'}, inplace=True)

In [37]:
df.replace({'6:00': '18:00'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2317852661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'6:00': '18:00'}, inplace=True)

In [38]:
df.replace({'7:00': '19:00'}, inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2330054255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace({'7:00': '19:00'}, inplace=True)

In [39]:
df

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
0,1.0,NLP,PE,lecture,all,all,N,RK,6,601,monday,9:00,11:00,TE,NaN
1,2.0,BAP,PE,lab,all,all,F,SC,4,410B,monday,9:00,11:00,TE,NaN
2,3.0,EH,PE,lab,all,all,B,RP,4,406A,monday,9:00,11:00,TE,NaN
3,4.0,BCT,PE,lab,all,all,C-PE,DDA,4,404,monday,9:00,11:00,TE,NaN
4,5.0,DC,PC,lecture,CSE,DS,all,SBG,4,407,monday,11:15,12:15,TE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299.0,LA,BSC,lab,CSE,AIML,A,RM,4,404,friday,9:00,11:00,SE,NaN
299,300.0,CCN,PC,lab,CSE,AIML,C,AVN,4,410B,friday,9:00,11:00,SE,NaN
300,301.0,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,11:15,12:15,SE,NaN
301,302.0,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,12:15,13:15,SE,NaN
302,303.0,FOM-II,BSC(LE),lecture,all,all,N,RRS,3,309,friday,14:00,15:00,SE,NaN

In [40]:
df.isnull().sum()

serial_num          0
subject_code        0
course_type         0
lab_or_lecture      0
department          0
branch              0
batch               0
faculty_code        0
floor               0
room_num            0
day                 0
start_time          0
end_time            0
year                0
duration          303
dtype: int64

In [48]:
df['start_time'] = pd.to_datetime(df['start_time'], format='%H:%M').dt.time
df['end_time'] = pd.to_datetime(df['end_time'], format='%H:%M').dt.time
df['start_time']
df['duration']=(df['end_time']-df['start_time']).dt.components.hours

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2981535616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_time'] = pd.to_datetime(df['start_time'], format='%H:%M').dt.time
C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1509996\2981535616.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end_time'] = pd.to_datetime(df['end_time'], format='%H:%M').dt.time

In [49]:
df['start_time']

0      09:00:00
1      09:00:00
2      09:00:00
3      09:00:00
4      11:15:00
         ...
298    09:00:00
299    09:00:00
300    11:15:00
301    12:15:00
302    14:00:00
Name: start_time, Length: 303, dtype: object

In [50]:
df['duration']=(df['end_time']-df['start_time']).dt.components.hours

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'

In [51]:
df

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
0,1.0,NLP,PE,lecture,all,all,N,RK,6,601,monday,09:00:00,11:00:00,TE,2
1,2.0,BAP,PE,lab,all,all,F,SC,4,410B,monday,09:00:00,11:00:00,TE,2
2,3.0,EH,PE,lab,all,all,B,RP,4,406A,monday,09:00:00,11:00:00,TE,2
3,4.0,BCT,PE,lab,all,all,C-PE,DDA,4,404,monday,09:00:00,11:00:00,TE,2
4,5.0,DC,PC,lecture,CSE,DS,all,SBG,4,407,monday,11:15:00,12:15:00,TE,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299.0,LA,BSC,lab,CSE,AIML,A,RM,4,404,friday,09:00:00,11:00:00,SE,2
299,300.0,CCN,PC,lab,CSE,AIML,C,AVN,4,410B,friday,09:00:00,11:00:00,SE,2
300,301.0,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,11:15:00,12:15:00,SE,1
301,302.0,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,12:15:00,13:15:00,SE,1
302,303.0,FOM-II,BSC(LE),lecture,all,all,N,RRS,3,309,friday,14:00:00,15:00:00,SE,1

In [2]:
df.to_csv('bap_ise_data.csv', index=False)

NameError: name 'df' is not defined

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('bap_ise_data.csv')

In [67]:
len(df['room_num'].unique())

42

In [8]:
arr=[
  "609",
  "411",
  "606-4",
  "406A",
  "404",
  "604",
  "702B",
  "408",
  "601",
  "605",
  "603C",
  "online",
  "410B",
  "506B",
  "407",
  "702A",
  "412",
  "606",
  "203",
  "608",
  "606A",
  "603-3",
  "309",
  "008",
  "409",
  "503",
  "405",
  "603A",
  "801",
  "603-2",
  "606B",
  "607B",
  "702",
  "606-5",
  "603",
  "410C",
  "603B",
  "410A",
  "406B",
  "509",
  "308",
  "703"
]

In [9]:
len(arr)

42

In [27]:
start='9:00'
end='10:00'

In [22]:
start_time = pd.to_datetime(start, format='%H:%M').time()
strstart_time

datetime.time(9, 0)

In [15]:
df['start_time'] = pd.to_datetime(df['start_time'], format='%H:%M').dt.time

ValueError: unconverted data remains: :00

In [28]:
day='monday'

In [59]:
    start_time = pd.to_datetime(start, format='%H:%M').strftime('%H:%M:%S')
    end_time = pd.to_datetime(end, format='%H:%M').strftime('%H:%M:%S')

    filtered_df = df[(df['day'] == day) & ((df['start_time'] == start_time) | (df['end_time'] == end_time))]

In [60]:
df['day']

0      monday
1      monday
2      monday
3      monday
4      monday
        ...
298    friday
299    friday
300    friday
301    friday
302    friday
Name: day, Length: 303, dtype: object

In [61]:
len(filtered_df)

13

In [62]:
start_time

'09:00:00'

In [63]:
pd.to_datetime(start, format='%H:%M').strftime('%H:%M:%S')

'09:00:00'

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   serial_num      303 non-null    float64
 1   subject_code    303 non-null    object
 2   course_type     303 non-null    object
 3   lab_or_lecture  303 non-null    object
 4   department      303 non-null    object
 5   branch          303 non-null    object
 6   batch           303 non-null    object
 7   faculty_code    303 non-null    object
 8   floor           303 non-null    object
 9   room_num        303 non-null    object
 10  day             303 non-null    object
 11  start_time      303 non-null    object
 12  end_time        303 non-null    object
 13  year            303 non-null    object
 14  duration        303 non-null    int64
dtypes: float64(1), int64(1), object(13)
memory usage: 35.6+ KB

In [5]:
selected_day='monday'
selected_department='CSE'
selected_type='lecture'

In [7]:
filtered_df = df[(df['day'] == selected_day) & (df['department'] == selected_department) & (df['lab_or_lecture'] == selected_type)]
filtered_df

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
4,5.0,DC,PC,lecture,CSE,DS,all,SBG,4,407,monday,11:15:00,12:15:00,TE,1
5,6.0,ML,PC,lecture,CSE,DS,all,SJK,4,407,monday,12:15:00,13:15:00,TE,1
89,90.0,ML,PC,lecture,CSE,AIML,all,SJK,4,409,monday,11:15:00,12:15:00,TE,1
90,91.0,DC,PC,lecture,CSE,AIML,all,VK,4,409,monday,12:15:00,13:15:00,TE,1
221,222.0,CCN,PC,lecture,CSE,AIML,N,DDA,4,405,monday,11:15:00,12:15:00,SE,1
222,223.0,CCN,PC,lecture,CSE,AIML,N,DDA,4,405,monday,12:15:00,13:15:00,SE,1
260,261.0,CCN,PC,lecture,CSE,AIML,N,AVS,4,405,monday,09:00:00,10:00:00,SE,1
261,262.0,CCN,PC,lecture,CSE,AIML,N,AVS,4,405,monday,10:00:00,11:00:00,SE,1

In [9]:
df['lab_or_lecture'].replace({'lab ':'lab'},inplace=True)

In [10]:
df['lab_or_lecture'].unique()

array(['lecture', 'lab'], dtype=object)

In [12]:
df.to_csv('bap_ise_data.csv', index=False)

In [13]:
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [18]:
filtered_df=df[df['faculty_code'] == 'RK']

In [19]:
import plotly.graph_objs as go

In [21]:
go.Figure(data=[go.Pie(labels=filtered_df['lab_or_lecture'],
                             values=filtered_df['duration'],
                             hoverinfo='label+percent',
                             textinfo='value')])

In [2]:
import pandas as pd

In [25]:
df=pd.read_csv('bap_ise_data.csv')

In [26]:
df

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
0,1,NLP,PE,lecture,all,all,N,RK,6,601,monday,9:00:00,11:00:00,TE,2
1,2,BAP,PE,lab,all,all,F,SC,4,410B,monday,9:00:00,11:00:00,TE,2
2,3,EH,PE,lab,all,all,B,RP,4,406A,monday,9:00:00,11:00:00,TE,2
3,4,BCT,PE,lab,all,all,C-PE,DDA,4,404,monday,9:00:00,11:00:00,TE,2
4,5,DC,PC,lecture,CSE,DS,all,SBG,4,407,monday,11:15:00,12:15:00,TE,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,LA,BSC,lab,CSE,AIML,A,RM,4,404,friday,9:00:00,11:00:00,SE,2
299,300,CCN,PC,lab,CSE,AIML,C,AVN,4,410B,friday,9:00:00,11:00:00,SE,2
300,301,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,11:15:00,12:15:00,SE,1
301,302,OS,PC,lecture,CSE,AIML,N,AT,4,405,friday,12:15:00,13:15:00,SE,1
302,303,FOM-II,BSC(LE),lecture,all,all,N,RRS,3,309,friday,14:00:00,15:00:00,SE,1

In [27]:
df.loc[df[(df['subject_code']=='PCS')&(df['faculty_code']=='SD')].index, 'faculty_code'] = 'SD2'

In [28]:
df[(df['subject_code']=='PCS')]

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
132,133,PCS,SBC,lab,CE,COMPSA,C,DN,6,607B,monday,11:15:00,13:15:00,SE,2
149,150,PCS,SBC,lab,CE,COMPSA,D,DN,6,607B,wednesday,9:00:00,11:00:00,SE,2
153,154,PCS,SBC,lecture,CE,COMPSA,N,DN,8,801,wednesday,11:15:00,12:15:00,SE,1
161,162,PCS,SBC,lab,CE,COMPSA,A,DN,6,607B,thursday,11:15:00,13:15:00,SE,2
169,170,PCS,SBC,lab,CE,COMPSA,B,DN,6,607B,friday,9:00:00,11:00:00,SE,2
177,178,PCS,SBC,lab,CE,COMPSB,C,DN,6,607B,monday,9:00:00,11:00:00,SE,2
186,187,PCS,SBC,lab,CE,COMPSB,A,DN,6,607B,tuesday,9:00:00,11:00:00,SE,2
187,188,PCS,SBC,lecture,CE,COMPSB,N,DN,6,609,tuesday,11:15:00,12:15:00,SE,1
202,203,PCS,SBC,lab,CE,COMPSB,B,DN,6,607B,thursday,9:00:00,11:00:00,SE,2
215,216,PCS,SBC,lab,CE,COMPSB,D,DN,6,609,friday,11:15:00,13:15:00,SE,2
219,220,PCS,SBC,lab,CSE,AIML,C,SD2,4,407,monday,9:00:00,11:00:00,SE,2
236,237,PCS,SBC,lab,CSE,AIML,D,SD2,4,407,wednesday,9:00:00,11:00:00,SE,2
241,242,PCS,SBC,lecture,CSE,AIML,N,SD2,4,405,wednesday,14:00:00,15:00:00,SE,1
246,247,PCS,SBC,lab,CSE,AIML,A,SD2,4,406A,thursday,11:15:00,13:15:00,SE,2
258,259,PCS,SBC,lab,CSE,AIML,B,SD2,4,409,friday,11:15:00,13:15:00,SE,2
263,264,PCS,SBC,lab,CSE,AIML,C,SD2,4,408,monday,11:15:00,13:15:00,SE,2
269,270,PCS,SBC,lab,CSE,AIML,B,SD2,4,407,tuesday,9:00:00,11:00:00,SE,2
273,274,PCS,SBC,lecture,CSE,AIML,N,SD2,4,405,tuesday,11:15:00,12:15:00,SE,1
283,284,PCS,SBC,lab,CSE,AIML,A,SD2,4,412,wednesday,11:15:00,13:15:00,SE,2
296,297,PCS,SBC,lab,CSE,AIML,D,SD2,4,407,friday,9:00:00,11:00:00,SE,2

In [14]:
df[(df['subject_code']=='PCS')&(df['faculty_code']=='SD')]

,serial_num,subject_code,course_type,lab_or_lecture,department,branch,batch,faculty_code,floor,room_num,day,start_time,end_time,year,duration
219,220,PCS,SBC,lab,CSE,AIML,C,SD,4,407,monday,9:00:00,11:00:00,SE,2
236,237,PCS,SBC,lab,CSE,AIML,D,SD,4,407,wednesday,9:00:00,11:00:00,SE,2
241,242,PCS,SBC,lecture,CSE,AIML,N,SD,4,405,wednesday,14:00:00,15:00:00,SE,1
246,247,PCS,SBC,lab,CSE,AIML,A,SD,4,406A,thursday,11:15:00,13:15:00,SE,2
258,259,PCS,SBC,lab,CSE,AIML,B,SD,4,409,friday,11:15:00,13:15:00,SE,2
263,264,PCS,SBC,lab,CSE,AIML,C,SD,4,408,monday,11:15:00,13:15:00,SE,2
269,270,PCS,SBC,lab,CSE,AIML,B,SD,4,407,tuesday,9:00:00,11:00:00,SE,2
273,274,PCS,SBC,lecture,CSE,AIML,N,SD,4,405,tuesday,11:15:00,12:15:00,SE,1
283,284,PCS,SBC,lab,CSE,AIML,A,SD,4,412,wednesday,11:15:00,13:15:00,SE,2
296,297,PCS,SBC,lab,CSE,AIML,D,SD,4,407,friday,9:00:00,11:00:00,SE,2

In [30]:
df.to_csv('bap_ise_data.csv', index=False)

In [13]:
df[(df['subject_code']=='PCS')&(df['faculty_code']=='SD')]['faculty_code']

219    SD
236    SD
241    SD
246    SD
258    SD
263    SD
269    SD
273    SD
283    SD
296    SD
Name: faculty_code, dtype: object

In [15]:
df[(df['subject_code']=='PCS')&(df['faculty_code']=='SD')]['faculty_code'].replace('foo', 'qux', inplace=True)

C:\Users\Advait_Sapkal\AppData\Local\Temp\ipykernel_1005208\2811500980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[(df['subject_code']=='PCS')&(df['faculty_code']=='SD')]['faculty_code'].replace('foo', 'qux', inplace=True)

In [17]:
df[(df['subject_code']=='PCS')&(df['faculty_code']=='SD')]['faculty_code']

219    SD
236    SD
241    SD
246    SD
258    SD
263    SD
269    SD
273    SD
283    SD
296    SD
Name: faculty_code, dtype: object